.env
/logs
/models
*.log
*.out
/venv
__pycache__/
/scripts
/results
checkpoints*
run_expand_stabletoolbench.py
benchmark_preprocessing
pairs_augmented.json
decompositions.json
.DS_Store
*.parquet
toollinkos_tools_expanded.json
instances.json
StableToolBench_tools.json
StableToolBench_queries.json